@CHARSET "UTF-8";
#search
        {
            border:1px solid #dfdfdf;
            height:42px;
            width:384px;
            font-size:11pt;
            color:#a9a9a9;
            -moz-user-select:none;
            text-indent:14px;
            }
         
        .form
        {
            margin:0 auto;
            width:300px;
            position:absolute;
            top:30px;
            right:150px;
            }
       #glass a
       {
           position:absolute;
           top:0px;
           right:-126px;
           border:1px solid #dfdfdf;
           width:40px;
           height:44px;
           display:block;
           background:url(glass_two.png);
           }
       #glass a:hover
       {
           background-position:0 -40px;
           background-color: #FF6600;
           }
       #ul
       {
           position:absolute;
           top:13px;
           right:-150px;
           width:280px;
           display:block;
           }
       ul li#li
       {
           list-style-type:none;
           float:left;
           width:62px;
           height:20px;
           background-color:#f3f3f3;
           margin-right:8px;
           text-align:center;
           font-size:9pt;
           font-family:"微软雅黑";
           color:#333333;
           }
       ul li#li:hover
       {
           background-color:#dfdfdf;
           }
